.header-home-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	background-image: var(--accent-background);
}

@media (max-width: 768px) {
	.container-home-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header-home-container h1 {
		font-size: 1rem;
	}

	.sidebar-component {
		width: 100%;
	}
}
