.header-home-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	background-image: var(--accent-background);
}

@media (max-width: 768px) {
	.container-home-content {
		grid-template-columns: 1fr;
	}

	.header-home-container h1 {
		font-size: 1.5rem;
	}

	.main-content {
		padding: 0;
		height: fit-content;
	}
}
