.account-container:hover .username-text {
	text-decoration: underline;
}

@media (max-width: 768px) {
	.side-bar-component {
		width: 100%;
		height: fit-content;
	}

	.nav-list ul {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.footer {
		display: none;
	}

	.profile-modal {
		left: 5rem;
		width: 80%;
		z-index: 1000;
	}
}
